.card {
    height: 100vh;
    // margin-top: 20px;
    min-height: 350px;
    background: #343a40;
    // background: slategrey;
    color: white;
    margin-left: auto;
    margin-right: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}