* {
    box-sizing: border-box;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    margin-bottom: 10px;
}

figcaption {
     background-color: gray;
     text-align: center;
     color: lightgray;
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: justify;
    color: grey;
    font-size: small;
}

.img {
      height: 315px;
      width: 215px;
}

.container {
    padding:2px 16px;
}
 
.column {
    float: none;
    padding: 10px;
} 
