<div class="cont">
<h1>Dashboard</h1>
    <div class="row">
        <div class="col-sm-4">
        <div class="card" id="card1">
            <div class="card-body">
                <b>Today's Orders Counts</b>
                        <br><br>
                        <!-- <p> {{todaysOrders}} - Orders Placed Today.</p> -->
                        <p> #{{todaysOrders}} no. of orders placed today.</p>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="card" id="card2">
            <div class="card-body">
                <b>Available Products</b>
                <br><br>
                <!-- <p> #{{availableProducts}} - Products Available in Stock. </p> -->
                <p> #{{availableProducts}} no. of products are available currently. </p>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="card" id="card2">
            <div class="card-body">
                <b>Low Quantity Products</b>
                <br><br>
                <!-- <p> {{lessProducts}} - Products are less than 10 Qty. </p> -->
                <p> #{{lessProducts}} no. of products having less than 10 Qty. </p>
            </div>
        </div>
        </div>
    </div>
</div>