.center {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center;
    color: goldenrod;
}

#errorMsg {
    color: red;
}

.container {
    padding-top: 10px;
    font-style: inherit;
    font-stretch: wider;
    font-weight: 500;
}