.card-title{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}

.card {
    max-width: 40%;
    margin: auto;
}

.col-sm-9 {
    border: black;
    margin: auto;
}

#btnRegi {
    height: 0.5in;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: large;
    color: white;
    background-color: darkorange;
}
