h3,h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: goldenrod;
}

.form-text {
    font-size: medium;
}

.legendAlign {
    padding-bottom: 10px; 
    padding-left: 30px;
}

.col-sm-3 {
    text-align: right;
}

.btn:hover,.btn2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
